# Java
*.class

# Spring Boot
/target/
/out/

# Logs
*.log

# IDEs
/.idea/*
/.idea/
/*.iml
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/target/

# Env files
.env
